log/*.log
tmp/**/*
*.tmproj

*.aux
*.log
*.synctex.gz
*.toc

*.odb
demo*
Makefile.trans

odb.client
odb.server

*.[ao]

.hg
.hgignore
.DS_Store

build
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
include/cmake_install.cmake
odb.build/
odb.xcodeproj/
source/cmake_install.cmake
